@import "common.css";
@import "../node_modules/reset-css/reset.css";
@font-face {
    font-family: "BigJohn";
    src: url('../font/bigjohn.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SlimJoe";
    src: url('../font/slimjoe.otf');
    font-weight: normal;
    font-style: normal;
}
body{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url("../image/computer.png") no-repeat center / cover;
    height: 650px;
}
.background{
    background: #3c4955;
    height: inherit;
    opacity: 0.90;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 1140px;
    margin: 0 auto;
}
.header_wrapper{
    content: '';
    display: table;
    width: 100%;
    clear: both;

}

.logo{
    margin-top: 72px;
    float: left;
}
nav{
    float: right;
    margin-top: 120px;
}
.menu{
    margin: 0;
    display: block;
    padding: 0px 0px 120px 0px;

}

.menu li {
    float: left;
    display: block;
    margin-right: 72px;
    font-family: "Lato";
}

.menu_item{
    position: relative ;
}
.menu_item:after{
    content: '\\';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 30px;
    color: #606a72;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.titles_first {
    color: white;
    font-size:45px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    font-family: "BigJohn";


}
h3 {
    color: white;
    font-size:30px;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
    font-family: "SlimJoe";

}
.button {
    display: inline-block;
    width: 130px;
    padding: 8px;
    color: #48b871;
    border: 3px solid #48b871;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin-left: 480px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin-bottom: 54px;
}
.contacher{
    color:#48bf72;
}

.image{
    background-color:rgb(60, 73, 85);
    position:absolute;
    padding: 4px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    text-align: center;
}

.Nom{
    padding-left: 40px;
    font-size: 11px;
    border-radius: 5px;
    width: 167px;
    height: 25px;
    border-color:rgb(60, 73, 85);
    background-color:rgb(241, 241, 241);
    text-align: left;

}
.Email{
    background-color:rgb(60, 73, 85);
    position:absolute;
    padding: 7px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    margin:0 0 0 20px;
    text-align: center;
}
.email{
    padding-left: 46px;
    font-size: 11px;
    border-radius: 5px;
    margin: 0 0 0 20px ;
    width: 167px;
    height: 25px;
    border-color:rgb(60, 73, 85);
    background-color:rgb(241, 241, 241);
    text-align: left;

}
.Message{
    background-color:rgb(60, 73, 85);
    position:absolute;
    padding: 8px;
    padding-bottom: 118px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    margin: 15px 0 20px 0;
}
.message{
    padding-left: 40px;
    font-size: 11px;
    border-radius: 3px;
    margin: 15px 0 15px 0;
    width: 408px;
    height: 140px;
    border:2px solid rgb(60, 73, 85);
    background-color:rgb(241, 241, 241);
    resize: none;

}
.Button{
    background-color: rgb(72, 191, 114);
    color: white;
    font-size: 10px;
    width:452px;
    height: 30px;
    border-radius: 3px;
    border: none;
    letter-spacing:2px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background:  #3c4955;
}
.copyright {
    color: #fff;
    padding: 100px;
    margin-right: 250px;

}
.footer-wrapper {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.social {
    display: flex;
    z-index: 0;
    margin: 30px;


}